*{
	margin:0;
	padding:0;
	
}
h1
{
text-align:center;
padding:20px;
}
body
{
background-color:;
}
h2
{
text-align:center;
padding:20px;
}

.register
{
width:500px;
margin:0px,0px,0px,430px;
font-size:18;
border-radius:10px;
padding:20px;

}
#register{
margin:50px;
}
label
{
color:black;
font-family:san-serif;
font-size:18px;
font-style:italic;
}
#name
{
width:300px;
border-radius:3px;
outline:0;
padding:7px;
}

#num{
width:230px;
padding:7px;
border:none;
border-radius:3px;
outline:1;
}

#sub
{
width:200px;
padding:7px;
font-size:16px;
font-family:sans-serif;
font-style:italic;
font-weight:600;
border-radius:3px;
background-color: red;
color: white;
border:none;
outline:1;
}